/* src/Componentes/Home.css */
body {
    background-color: black;
  }
  
  .nav-link {
    font-size: 1.2em;
  }
  
  .post {
    border: 1px solid white;
    padding: 20px;
    margin: 20px 0;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #ccc;
  }
  